@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: var(--font-m);
    color: var(--primary-color);
    transition: color 0.3s;
    min-height: 100vh;
}

.app {
    background-color: var(--bg-color);
    transition: background-color 0.3s;
    // transition:
    //     background-color 0.3s,
    //     color 0.3s;
    // font: var(--font-m);
    // background-color: var(--bg-color);
    // color: var(--primary-color);
    // min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
