.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: all 0.3s;
    color: var(--primary-color);
    &.opened {
        opacity: 1;
        pointer-events: auto;
        user-select: auto;
        z-index: var(--modal-z-index);
        .content {
            transform: translateY(0);
        }
    }
    // &.dark {
    //     --bg-color: #090949;
    //     --primary-color: #04ff04;
    // }
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.isClosing {
    .content {
        transform: scale(1) translateY(0);
    }
}

.content {
    padding: 20px;
    border-radius: 12px;
    background-color: var(--bg-color);
    transition: all 0.3s;
    transform: translateY(200%) scale(0.2);
    max-width: 850px;
}
