.Button {
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1rem;
    padding: 6px 15px;
}

.clear,
.clearInverted {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    outline: none;
}
.clearInverted {
    color: var(--inverted-secondary-color);
}

.outline {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    width: 40px;
    height: 40px;
    padding: 0;

    &.size_m {
        width: var(--font-line-m);
        height: var(--font-line-m);
        font: var(--font-m);
    }

    &.size_l {
        width: var(--font-line-l);
        height: var(--font-line-l);
        font: var(--font-l);
    }

    &.size_xl {
        width: var(--font-line-xl);
        height: var(--font-line-xl);
        font: var(--font-xl);
    }
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}
