.SideBar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    transition: width 0.3s;
    position: relative;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.switchers {
    // position: absolute;
    // bottom: 20px;
    display: flex;
    margin-top: auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
    z-index: 4;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.link {
    display: flex;
    align-items: center;
    gap: 10px;
}
.linkText {
    transition: 0.3s;
}

.icon {
    fill: var(--inverted-secondary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    padding: 20px 10px;
    .switchers {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    .linkText {
        opacity: 0;
        width: 0;
    }
    .link {
        justify-content: center;
        gap: 0;
    }
}

// .link {
// }
// .langSwitcher {

// }
