.NavBar {
    width: 100%;
    height: var(--navbar-heigth);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 13px;
}

.links {
    display: flex;
    margin-left: auto;
    gap: 15px;
}
